.main-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 70%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.position-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.position-lable {
    color: white;
    padding-right: 20px;
}

.dismiss-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
    width: 100%;
}

.radio-dual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.radio-dual label {
    padding-left: 10px;
}

.remove-all-button {
    padding: 10px 20px;
    font-size: 18px;
    width: 100%;
    border: none;
    border-radius: 6px;
}